<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Overview</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<%- include('partials/header.ejs') %>
<body>
    <h1>Blog Overview</h1>
    <main>
        <div class="flex flex-col gap-4 justify-items-center align-items-center py-8 px-16 w-screen">
            <h3><%= blogPost.title %></h3>
            <p><%= blogPost.author %></p>
            <h5><%= blogPost.text %></h5>
            <p><%= blogPost.creationDate %></p>
            <p><%= blogPost.blogID %></p>
        </div>
    </main>
</body>
<%- include('partials/footer.ejs') %>
</html>