<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Overview</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <script>
        function confirmDelete(event) {
            const userConfirmed = confirm('Are you sure you want to delete this post?');
            if (!userConfirmed) {
                event.preventDefault();
            }
        }
    </script>
</head>

<body class="body-container">
    <div class="web-container">
        <%- include('partials/header.ejs') %>
        <h1 class="h1">Blog Overview</h1>
        <main class="main-container">
            <div class="flex flex-col gap-4 justify-items-center align-items-center py-8 px-16">
                <h3 class="h3"><%= blogPost.title %></h3>
                <p class="text-center text-gray-300">Written by: <%= blogPost.author %></p>
                <h5><%= blogPost.text %></h5>
                <p class="text-gray-300"><%= blogPost.creationDate %></p>
                <p class="text-gray-300">ID: <%= blogPost.blogID %></p>
            </div>
            <div class="flex justify-center gap-20">
                <a href="/edit-post/<%= blogPost.blogID %>"><button class="btn-secondary">Edit Post</button></a>
                <form action="/delete-post/<%= blogPost.blogID %>?_method=DELETE" method="POST" onsubmit="confirmDelete(event)">
                    <button class="btn-alert">Delete</button>
                </form>
            </div>
            
        </main>
    </div>
    <%- include('partials/footer.ejs') %>
</body>
</html>