<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Creation</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body class="body-container">
    <div class="web-container">
        <%- include('partials/header.ejs') %>
        <main class="main-container">
            <h1 class="h1">Edit Blog Post</h1>
            <form action="/edit-post/<%= blogPost.blogID %>?_method=PUT" method="POST" class="flex flex-col gap-16">
                <div class="form-container">
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" class="form-input" id="title" name="title" placeholder="<%= blogPost.title %>">
                </div>
                
                <div class="form-container">
                    <label for="text" class="form-label">Content:</label>
                    <input type="text" class="form-input" id="text" name="text" placeholder="<%= blogPost.text %>"></input>
                </div>
                
                <div class="form-container">
                    <label for="author" class="form-label">Author:</label>
                    <input type="text" class="form-input" id="author" name="author" placeholder="<%= blogPost.author %>">
                </div>

                <div class="flex justify-center gap-20">
                    <a href="/" class="btn-secondary">Cancel</a>
                    <button type="submit" class="btn-primary">Save Edit</button>
                </div>
            </form>
        </main>
    </div>
    <%- include('partials/footer.ejs') %>
</body>

</html>